<label title='<%= description %> (default: <%= defaultValue %>)'>
	<span><%= fieldLabel %></span>
	
	<!-- number input -->
	<input type='number' name='<%= inputName %>' step='<%= step %>' value='<%= value %>'>
	
	<!-- range input -->
	<input type='range' name='<%= inputName %>' step='<%= step %>' min='<%= rangeInputMinValue %>' max='<%= rangeInputMaxValue %>' value='<%= value %>' list='<%= datalistId %>'>
	
	<datalist id='<%= datalistId %>'>
		<option value='0'></option>
	</datalist>
</label>
